/*! sanitize.css v6.0.0 | CC0 License | github.com/csstools/sanitize.css */button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}button,select{text-transform:none}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}details,dialog,main{display:block}*,::after,::before{background-repeat:no-repeat;box-sizing:border-box}::after,::before{text-decoration:inherit;vertical-align:inherit}html{line-height:1.15;cursor:default;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;word-break:break-word}body,button,input,optgroup,select,textarea{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0}nav ol,nav ul{list-style:none}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}audio,canvas,iframe,img,svg,video{vertical-align:middle}audio:not([controls]){display:none;height:0}img{border-style:none}svg{fill:currentColor}svg:not(:root){overflow:hidden}table{border-collapse:collapse}button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}::-moz-focus-inner{border-style:none;padding:0}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto;resize:vertical}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}dialog{background-color:#fff;border:solid;color:#000;height:-moz-fit-content;height:-webkit-fit-content;height:fit-content;left:0;margin:auto;padding:1em;position:absolute;right:0;width:-moz-fit-content;width:-webkit-fit-content;width:fit-content}[hidden],dialog:not([open]),template{display:none}summary{display:list-item}[tabindex],a,area,button,input,label,select,summary,textarea{-ms-touch-action:manipulation;touch-action:manipulation}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled],[disabled]{cursor:disabled}[aria-hidden=false][hidden]:not(:focus){clip:rect(0,0,0,0);display:inherit;position:absolute}
body,html {
    font: 1vw/1 Raleway,sans-serif;
    width: 100vw;
    max-width: 100%;
    height: 100vh
}

.grid {
    display: grid;
    grid-template-columns: 1fr 60em 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: '. header .' '. main .' '. footer .'
}

a {
    text-decoration: none;
    color: #000
}

header,main {
    justify-content: center
}

header {
    font-family: 'IM Fell English SC',serif;
    flex-flow: row wrap;
    grid-area: header
}

.element-headline h3,h3,p {
    margin: 0
}

footer,header,main {
    display: flex
}

h3 {
    font-size: 1.5ch
}

p {
    font-size: 1.2ch;
    padding: 1ch 0
}

main {
    margin: 6ch 0 1ch;
    flex-wrap: wrap;
    grid-area: main
}

footer {
    font-size: 1.3ch;
    margin-top: 2ch;
    margin-bottom: 15ch;
    padding-bottom: 3ch;
    border-top: .5ch solid #d4d4d4;
    border-bottom: .5ch solid #d4d4d4;
    grid-area: footer;
    justify-content: space-around
}

.intro-info {
    border-bottom: .2ch solid #d4d4d4
}

.break {
    flex-basis: 100%
}

.column {
    margin-right: 1ch;
    margin-bottom: 2ch;
    flex: 1 0 35%
}

.column:nth-child(2) {
    padding-left: 1ch;
    border-left: .2ch solid #d4d4d4;
    flex: 1 0 20%
}

.column:nth-child(3) p {
    border-top: .2ch solid #d4d4d4
}

.column:nth-child(3) .article p {
    border-top: 0
}

.element-standard {
    margin-bottom: 3ch
}

.image,.menu li {
    display: inline-block
}

.menu li {
    margin: 0 1ch
}

.author {
    font-size: .8ch;
    padding: 0 0 1ch;
    text-transform: uppercase;
    color: #ca0000
}

.intro-info p {
    font-size: 2ch
}

.image {
    float: left;
    width: 20%;
    margin-right: 1ch;
    background: #000
}

.element-headline {
    border-bottom: .2ch solid #d4d4d4
}

.element-headline .image {
    width: 100%;
    text-align: right;
    background: 0 0
}

.element-headline .author {
    margin-top: 2ch
}

.element-headline p {
    margin-top: 1ch
}

img {
    max-width: 100%;
    filter: contrast(1.3) grayscale(.5)
}

.subscribe,.subscribe-bottom {
    display: flex;
    width: 100%;
    background: #2a2a2a;
    align-items: center;
    justify-content: center
}

.subscribe-bottom {
    padding: 1ch 3ch
}

.subscribe {
    margin: 2ch 0
}

[class^=subscribe],[class^=subscribe] a {
    padding: 1ch 3ch;
    text-align: center;
    color: #fff
}

[class^=subscribe]:hover {
    background: #000
}

.element-sidebar .heading {
    margin: 1ch 0;
    padding: .8ch 0;
    border-top: .2ch solid #d4d4d4;
    border-bottom: .2ch solid #d4d4d4
}

[class^=element] {
    display: flow-root
}

@media only screen and (max-width:40em) {
    .grid {
        grid-template-columns: 1fr 90em 1fr
    }

    .column {
        margin: 0;
        padding: 0;
        flex: 1 0 100%
    }

    .column:nth-child(2) {
        margin: 0;
        padding: 0;
        border-left: 0
    }

    .menu {
        display: none
    }

    header {
        font-size: 4ch
    }

    main {
        font-size: 6ch
    }

    footer {
        font-size: 3ch
    }
}

@media only screen and (min-width:40.063em) and (max-width:64em) {
    .grid {
        grid-template-columns: 1fr 90em 1fr
    }

    .column {
        flex: 1 0 50%
    }

    .column:nth-child(2) {
        padding-left: 1ch;
        border-left: 0
    }

    .menu {
        display: none
    }

    header,main {
        font-size: 4ch
    }

    footer {
        font-size: 2ch
    }
}
