/*! sanitize.css v6.0.0 | CC0 License | github.com/csstools/sanitize.css */button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}button,select{text-transform:none}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}details,dialog,main{display:block}*,::after,::before{background-repeat:no-repeat;box-sizing:border-box}::after,::before{text-decoration:inherit;vertical-align:inherit}html{line-height:1.15;cursor:default;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;word-break:break-word}body,button,input,optgroup,select,textarea{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0}nav ol,nav ul{list-style:none}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}audio,canvas,iframe,img,svg,video{vertical-align:middle}audio:not([controls]){display:none;height:0}img{border-style:none}svg{fill:currentColor}svg:not(:root){overflow:hidden}table{border-collapse:collapse}button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}::-moz-focus-inner{border-style:none;padding:0}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto;resize:vertical}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}dialog{background-color:#fff;border:solid;color:#000;height:-moz-fit-content;height:-webkit-fit-content;height:fit-content;left:0;margin:auto;padding:1em;position:absolute;right:0;width:-moz-fit-content;width:-webkit-fit-content;width:fit-content}[hidden],dialog:not([open]),template{display:none}summary{display:list-item}[tabindex],a,area,button,input,label,select,summary,textarea{-ms-touch-action:manipulation;touch-action:manipulation}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled],[disabled]{cursor:disabled}[aria-hidden=false][hidden]:not(:focus){clip:rect(0,0,0,0);display:inherit;position:absolute}
:root {
    --base-text-color: #000;
    --base-highlight-color: #ca0000;
    --base-border-color: #d4d4d4;
    --p-size: 70%;
    --p-padding: calc(var(--p-size)/20);
    --h1-size: calc(var(--p-size) + 150%);
    --h2-size: calc(var(--p-size) + 60%);
    --h3-size: calc(var(--p-size) + 30%);
    --h4-size: calc(var(--p-size) + 15%);
    --small-size: calc(var(--p-size) - 15%);
    --base-screen-medium: 200%;
    --base-screen-small: 400%;
    --border: .1rem solid var(--base-border-color)
}

body,html {
    font: 1vw/1 Raleway,sans-serif;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    color: var(--base-text-color)
}

.grid {
    display: grid;
    grid-template-columns: 1fr 60em 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: '. header .' '. main .' '. footer .'
}

a {
    text-decoration: none;
    color: #000
}

header,main {
    justify-content: center
}

.intro-info,.intro-logo {
    padding-top: 1rem
}

header {
    font-family: 'IM Fell English SC',serif;
    flex-flow: row wrap;
    grid-area: header
}

.element-headline h3,p {
    margin: 0
}

footer,header,main {
    display: flex
}

h1,h2,h3,h4 {
    margin: 0;
    padding: 0
}

h1 {
    font-size: var(--h1-size)
}

h2 {
    font-size: var(--h2-size)
}

h3 {
    font-size: var(--h3-size)
}

h4 {
    font-size: var(--h4-size);
    font-weight: 100
}

.menu {
    font-weight: 900
}

.intro-info p,footer,p {
    font-size: var(--p-size)
}

p {
    padding-top: var(--p-padding);
    padding-bottom: var(--p-padding)
}

footer,main {
    border-top: var(--border)
}

main {
    padding-top: calc(var(--p-padding));
    flex-wrap: wrap;
    grid-area: main
}

footer {
    margin-top: var(--p-padding);
    margin-bottom: calc(var(--p-padding)*5);
    padding: var(--p-padding) 0;
    grid-area: footer;
    justify-content: space-around
}

.intro-info,footer {
    border-bottom: var(--border)
}

.break {
    flex-basis: 100%
}

.column {
    margin-right: var(--p-padding);
    margin-bottom: var(--p-padding)*2;
    flex: 1 0 35%
}

.column:nth-child(2) {
    padding-left: 1rem;
    border-left: var(--border);
    flex: 1 0 20%
}

.column:nth-child(3) {
    margin-right: 0
}

.column:nth-child(3) p {
    border-top: var(--border)
}

.column:nth-child(3) .article p {
    border-top: 0
}

.element-standard {
    margin-bottom: var(--p-padding)
}

.image,.menu li {
    display: inline-block
}

.menu li {
    padding: 0 .4rem;
    border-right: var(--border)
}

.menu li:nth-last-child(1) {
    border-right: 0
}

.small {
    font-size: var(--small-size);
    padding: var(--p-padding) 0;
    text-transform: uppercase;
    color: var(--base-highlight-color)
}

.right {
    text-align: right
}

.image {
    float: left;
    width: 20%;
    margin-right: 1rem
}

.element-headline {
    border-bottom: var(--border)
}

.element-headline .image {
    width: 100%;
    margin-bottom: var(--p-padding);
    text-align: right;
    background: 0 0
}

img {
    width: 100%;
    max-width: 100%;
    filter: contrast(1.3) grayscale(.5)
}

.subscribe,.subscribe-bottom {
    display: flex;
    width: 100%;
    background: #2a2a2a;
    align-items: center;
    justify-content: center
}

.subscribe {
    margin: var(--p-padding) 0
}

[class^=subscribe],[class^=subscribe] a {
    padding: 1rem;
    text-align: center;
    color: #fff
}

[class^=subscribe] a {
    text-decoration: underline
}

[class^=subscribe]:hover {
    background: #000
}

.element-sidebar .heading {
    margin: var(--p-padding) 0;
    padding: var(--p-padding) 0;
    border-top: var(--border);
    border-bottom: var(--border)
}

[class^=element] {
    display: flow-root
}

@media only screen and (max-width:40em) {
    .grid {
        grid-template-columns: 1fr 90em 1fr
    }

    .column {
        margin: 0;
        padding: 0;
        flex: 1 0 100%
    }

    .column:nth-child(2) {
        margin: 0;
        padding: 0;
        border: 0
    }

    .menu {
        display: none
    }

    footer,header,main {
        font-size: var(--base-screen-small)
    }
}

@media only screen and (min-width:40.063em) and (max-width:64em) {
    .grid {
        grid-template-columns: 1fr 90em 1fr
    }

    .column {
        flex: 1 0 50%
    }

    .column:nth-child(2) {
        padding-left: 1rem;
        border: 0
    }

    .menu {
        display: none
    }

    footer,header,main {
        font-size: var(--base-screen-medium)
    }
}
